@font-face {
    font-family: 'monerogothicbold';
    src: url('monerogothic_v3-webfont.woff2') format('woff2'),
         url('monerogothic_v3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}