/* * {
    border: 1px dashed violet;
} */

/* Default values no matter screen size */
a {
    color: #f60;
}

.deck {
    display: flex;
    flex-direction: column;
}

.same-size-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.same-size-items * {
    flex: 1 1 0px;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    color: #4c4c4c;
    font-family: monerogothicbold;
    overflow-x: hidden;
    margin: 0px;
    position: relative;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Buttons slightly moving upward when hovered */
button:hover {
    transform: translateY(-1px);
}

/* Load Monero font */
@font-face {
    font-family: 'monerogothicbold';
    src: url('fonts/monerogothic_v3-webfont.woff2') format('woff2'),
        url('fonts/monerogothic_v3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input,
button {
    font-family: monerogothicbold;
    border-color: #f60;
    color: #f60;
    background-color: white;
    border: 1px 1px 1px 0px solid black;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 0.2);
    border-radius: 2vmin;
}

.center-vertically-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.card {
    color: #4c4c4c;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: white;
    border-top: rgb(0 0 0 / 0.2) 1px solid;
}


/* quotes have left black bar and monospace */
blockquote {
    border-left: 0.25em solid #4c4c4c;
    text-align: left;
    padding-left: 1.0em;
    /* text-align: justify; */
    text-justify: inter-word;
    font-weight: lighter;
    font-family: monospace;
    font-style: normal;

}

/* ************************************************** */
/* Small devices settings, like very small smartphones  */
/* ************************************************** */
@media only screen and (max-width: 599px) {

    

}



/* ************************************************** */
/* Medium devices settings, like a Google Pixel 6 Pro */
/* ************************************************** */
@media only screen and (min-width: 600px) and (max-width: 991px) {

    h1 {
        font-size: 85px;
        margin: 10px;
    }

    .navbar {
        display: none;
    }

    small {
        font-size: 20px;
    }

    button {
        font-size: 70px;
        padding: 30px;
        margin: 30px;
    }

    input {
        font-size: 70px;
        /* margin: 30px; */
    }

    footer {
        font-size: 50px;
    }

    .card {
        padding: 50px;

        font-size: 45px;
        margin-bottom: 35px;

        margin-left: 20px;
        margin-right: 20px;

        /*
        font-size: xx-large;
        margin: auto;
        margin-bottom: 50px; */
    }

    button {
        font-size: 70px;
    }

    blockquote {
        font-size: 25px;
    }

    h2 {
        font-size: 70px
    }

}

/* Large devices settings */
@media only screen and (min-width: 992px) {

    .deck {
        width: 90%;
    }

    h1 {
        font-size: 80px;
    }

    button {
        font-size: 25px;
        padding: 25px;
    }

    input {
        font-size: 50px;
    }

    footer {
        font-size: 20px;
    }

    .row .col.offset-l2 {
        margin-left: 16.6666666667%;
    }

    .card {
        font-size: 25px;
        /* margin: 200px;  */
        /* padding: 70px; */
        /* margin: 40px; */
        /* width: 80%; */
        margin-bottom: 40px;
        padding: 70px;

    }

    small {
        font-size: 15px;
    }

    blockquote {
        font-size: 20px;
    }
}